body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);

    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 300px;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    position: absolute;
    background: linear-gradient(90deg, #FC4668 0%, #3F5EFB 100%);

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4rem;

    transform: rotateY(10deg);
    backface-visibility: visible; /*vai mostrar as costas do elemento com o texto invertido --- hidden nao vai mostrar nada*/
}
