body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);

    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 300px;
    perspective-origin: top center;
}

.box {
    background: linear-gradient(90deg, #FC4668 0%, #3F5EFB 100%);
    width: 200px;
    height: 200px;
    border-radius: 8px;
    transform: rotateY(30deg);
}
